@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Navbar */

.nav-bar{
    height: 70px;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
   
}

.nav-bar a{
    text-decoration: none;
    color: white;
}

.bag-quantity{
    position: relative;
    font-size: 20px;
}

.bag-quantity span{
    position: absolute;
    top: -6px;
    right: -7px;
    color: #000;
    background-color: white;
    padding: 3px;
    font-size: 15px;
    border-radius: 50%;
}